.header {
  background-color: #131415;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 15px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
}

.contacts__phone {
  font-size: 21px;
  color: rgb(255, 255, 255);
}

.contacts__desc {
  font-size: 14px;
  padding-top: 3px;
  color: rgba(248, 149, 19, 0.702);
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  transition: .4s;
}

.contacts__desc:hover {
  color: rgba(255, 255, 255, 0.702);
}
